<%= form_for(@manager_association) do |f| %>
  <% if @manager_association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manager_association.errors.count, "error") %> prohibited this manager_association from being saved:</h2>

      <ul>
      <% @manager_association.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :manager_id %><br>
    <%= f.text_field :manager_id %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.text_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
