<p id="notice"><%= notice %></p>

<h1>Listing Manager Associations</h1>

<table>
  <thead>
    <tr>
      <th>Manager</th>
      <th>Employee</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manager_associations.each do |manager_association| %>
      <tr>
        <td><%= manager_association.manager_id %></td>
        <td><%= manager_association.employee_id %></td>
        <td><%= manager_association.active %></td>
        <td><%= link_to 'Show', manager_association %></td>
        <td><%= link_to 'Edit', edit_manager_association_path(manager_association) %></td>
        <td><%= link_to 'Destroy', manager_association, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manager association', new_manager_association_path %>
