<!DOCTYPE html>
<html>
<head>
  <title>Postchair</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller_name %> <%= action_name %>">
<nav class="blue lighten-1">
  <div class="nav-wrapper container">
    <% if logged_in? %>
     <%= link_to 'Postchair', dashboard_path, class: "brand-logo"%>
    <% else %>
      <%= link_to 'Postchair', home_path, class: "brand-logo"%>
    <% end %>
    <ul id="nav-mobile" class="right">

        <% if logged_in? %>
          <li><%= link_to 'Dashboard', dashboard_path %></li>
         <li><%= link_to 'History', history_path %></li>
          <li><a href="home.html"> Employee Dashboard </a></li>
         <% end %>
	  	  <!-- <div id="login"> -->
          <!-- content once logged in goes here -->
          <% if logged_in? %>
            <li><%= link_to 'Logout', logout_path %></li>
          <% else %>
            <li><%= link_to 'Login', login_path %></li>
         <% end %>
        </ul>

    <!-- navigation options go here -->

  </div>
</nav>


<%= yield %>

</body>
</html>
